body {
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-family: 'Style Script', cursive;
    font-size: 25px;
    color: #eabc23;
  }
  
  .navigation {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
  }
  
  .navigation li {
    display: inline-block;
    padding-left: 15px;
    text-transform: uppercase;
  }
  
  .navigation li a {
    color: white;
    text-decoration: none;
  }
  
  .intro {
    text-align: center;
    padding: 100px 0;
  }
  
  .intro h1 {
    font-size: 50px;
    margin: 20px 0;
    color: white;
  }
  
  .intro h5 {
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
    color: white;
  }
  
  .intro button {
    background-color: #eabc23;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .intro button:hover {
    background-color: green;
  }
  
  .splash {
    background-image: url(https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .services {
    text-align: center;
    padding: 70px 0;
  }
  
  .services .icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid green;
  }
  
  .services .icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: green;
  }
  
  .services .title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .services .subtitle {
    font-style: italic;
    color: #9E9E9E;
  }
  
  .services .elements {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
  }
  
  .services .elements .element {
    flex: 1;
    padding: 0 25px;
  }
  
  /*Our Works*/
  .portfolio {
    background-color: #F7F7F7;
    padding: 96px 0;
    text-align: center;
  }
  
  .portfolio .title h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .portfolio .title p {
    color: #888;
    margin-bottom: 40px;
  }
  
  .portfolio .items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .portfolio .item-wrapper {
    width: 400px;
    margin-bottom: 40px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .portfolio .item-wrapper p {
    padding-bottom: 20px;
  }
  
  .portfolio .item-wrapper img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .portfolio .item-wrapper .item {
    background-color: #C5C5BB;
  }
  
  @media (max-width: 767px) {
    .navigation {
      line-height: 25px;
    }
    .navigation li {
      display: block;
    }
    .intro h1 {
      font-size: 35px;
    }
    .intro h5 {
      font-size: 20px;
    }
    .intro button {
      padding: 15px 30px;
      font-size: 15px;
    }
  }

  /* footer */
  .footer-title {
    display: flex;
    justify-content: center;
  }

  .icon-footer {
    display: flex;
    justify-content: center;
    .icons {
      margin-bottom: 20px;
      font-size: 40px;
    }
  }